ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__MySqlConnection=Server=associados-db;Database=associadosdb;User=root;Password=${MYSQL_ASSOCIADOS_PASSWORD};
ConnectionStrings__MySqlAuthConnection=Server=associadosAuth-db;Database=associadosAuthdb;User=root;Password=${MYSQL_ASSOCIADOS_AUTH_PASSWORD};
